.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    margin: 130px 100px 0 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cart-container {
    background: rgba(255, 153, 0, 0.3);
    padding: 28px 16px;
}

.summary-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}

.btn-proceed{
    background: #FF9900;
    color: #fff;
    margin: 10px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-buttons{
    text-align: center;
    margin-bottom: 50px;
}

.pagination-buttons .selected{
    background: #FF9900;
}