.cart {
    background: rgba(255, 153, 0, 0.01);
    position: sticky;
    top: 0;
}
.cart p {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #2A414F;
}

.cart h6 {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
}

.btn-clear-cart{
    background: #FF3030;
    color: #fff;
    margin: 10px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}